* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
}
body {
  background: url(../img/match-img/bg-match.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important;
	overflow: hidden;
}
/* font-family: 'Great Vibes', cursive; */
/* font-family: 'Poppins', sans-serif; */
nav {
  background-color: rgba(87, 0, 20, 0.527);
  height: 4em;
  z-index: 1;
}

.navbar-brand {
  color: #f0e6e8 !important;
  font-family: "Great Vibes", cursive;
  font-size: 2em;
  font-weight: 400;
}
.collapse {
  background: rgba(87, 0, 20, 0.527);
}
/* logo nav-anim */
.heart-logo {
  animation: heart 3s linear infinite;
  width: 1em;
  height: 1em;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* ****** */
/* nav links anim *************************/
.nav-link {
  color: #f0e6e8 !important;
  font-size: 1.2em;
  letter-spacing: 0.75px;
  transition: all 0.3s !important;
  font-family: "Poppins", sans-serif;
}
.nav-link:hover {
  color: #f0e6e8 !important;
  font-size: 1.2em;
  letter-spacing: 0.75px;
  text-decoration: overline !important ;
  transform: scaleY(1.4);
}
/* }*********************************** */
/* ********end navbar*************************************************** */

main {
  background: rgba(87, 0, 20, 0.527);
  height: 92%;
  display: flex;
  align-items: center;
  clip-path: circle(100% at 50% 17%);
}

/* *********images************************************ */
.img-fluid {
  width: 20rem !important;
  height:14rem;
  border: 1px solid #f0e6e8;
  justify-items: center;
	
}
figure {
	width: 20rem;
	height: 14rem;
	position: relative;
}

.overlay {
	position: absolute;
	transition: all 3s;
	background-color: #f0e6e8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .85;
}

.overlay:hover {
	opacity: 0;
}

.label {
	color: #6d0019;
	font-size: 1.8em;
	font-weight: 700;
	display: flex;
	justify-content: center;
margin-top: 5em !important;
font-family: 'Great Vibes', cursive;


}
figcaption {
  color: #f0e6e8;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  line-height: 1.5;
	margin-top: .3em;
}
/* *******end img************************* */

/* media query */

@media only screen and (max-width:480px) {
	main {
		background: rgba(87, 0, 20, 0.527);
		height: 92%;
		display: flex;
		align-items: center;
		clip-path: circle(96% at 50% 17%);
	}
	figcaption {
		color: #f0e6e8;
		display: flex;
		justify-content: center;
		font-weight: 600;
		font-family: "Poppins", sans-serif;
		font-size: 1em;
		line-height: 1.4;
		margin-top: .3em;
		text-align: center !important;
	display: none !important;

	}
}

@media only screen and (max-width:768px) {
	main {
		background: rgba(87, 0, 20, 0.527);
		height: 92%;
		display: flex;
		justify-content: space-between !important;
		align-items: center;
		/* clip-path: circle(76% at 50% 17%); */
		overflow-y: hidden;
		overflow-x: hidden;
	}
	figcaption {
		color: #f0e6e8;
		display: flex;
		justify-content: center;
		font-weight: 600;
		font-family: "Poppins", sans-serif;
		font-size: 1em;
		line-height: 1.4;
		margin-top: .3em;
		text-align: center !important;
	}
}

@media only screen and (max-width:1024px) {
	main {
		background: rgba(87, 0, 20, 0.527);
		height: 92%;
		display: flex;
		justify-content: space-between !important;
		align-items: center;
		/* clip-path: circle(76% at 50% 17%); */
		overflow-y: hidden;
		overflow-x: hidden;
	}
	figcaption {
		color: #f0e6e8;
		display: flex;
		justify-content: center;
		font-weight: 600;
		font-family: "Poppins", sans-serif;
		font-size: 1em;
		line-height: 1.4;
		margin-top: .3em;
		text-align: center !important;
	}
}